.burger {
  cursor: pointer;
}

.burger input {
  display: none;
}

.burger svg {
  height: 2.5em;
  transform: scale(0.8);
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger .line {
  fill: none;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger .line-top-bottom {
  stroke-dasharray: 12 63;
}

.burger input:checked + svg {
  transform: rotate(-45deg);
}

.burger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
