@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,400,0..1,0..200');
@import "tailwindcss";

html {
  overflow-x: hidden;
  box-sizing: border-box !important;
}

.active {
  @apply font-bold underline;
}

