<section class="mx-10 h-[85vh] grid grid-cols-1 lg:grid-cols-3 gap-4">
  <!-- Primer div (Siempre centrado, sin scroll, fijo en su posición) -->
  <div class="col-span-1 flex items-center justify-center top-0 h-auto">
    <project-card-account></project-card-account>
  </div>

  <!-- Segundo div (Fijo en pantalla, solo su contenido scrolleable) -->
  <div class="lg:col-span-2 h-[85vh] lg:overflow-auto bg-blue-500/50">
    <div class="p-4">
      <p>Div 2 - Contenido scrollable</p>
    </div>
  </div>
</section>
