<canvas id="logoCanvas"  height="300" width="600" class="cursor-grab border">
</canvas>

<div id="logoList" style="display: none;">
  <ul>
    @for (category of categories; track category.category) {
      @for (skill of category.skills; track skill.description) {
        <li>
          <a [href]="skill.link" target="_blank">
            <img [src]="'assets/logos/' + skill.icon" [alt]="skill.description + ' logo'" width="30" height="30" loading="lazy">
          </a>
        </li>
      }
    }
  </ul>
</div>
